.header {
  background-color: #6ebeff;
  margin-bottom: 2rem;
}

// row 1
.row:nth-child(1) {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  > .column {
    line-height: 0;
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
  }
  > .column:nth-child(1) {
    width: 100%;
  }
  > .column:nth-child(2) {
    width: 20%;
    display: block;
    text-align: left;
  }
}

// row 2
.row:nth-child(2) {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  > .column {
    line-height: 0;
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
  }
  > .column:nth-child(1) {
    width: 65%;
  }
  > .column:nth-child(2) {
    width: 35%;
  }
}
